@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lato:ital@1&family=Roboto&display=swap');

/**
font-family: 'Fredericka the Great', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(223, 195, 195, 0.3);
    font-family: 'Roboto', sans-serif;
}
/*Transicion en enlaces header*/
.navbar-brand img:hover {
    transform: scale(1.2);
}
.navbar-brand img{
    transition: 600ms 0.2s;
}

.nav-link:hover {
    transform: scale(1.2);
}
.nav-link {
    transition: transform 600ms 0.2s;
}

.nav-link:hover {
    color:  #C02425;
}
h2 {
    color: #C02425;
}
a {
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
/*(INICIO)Transformacion 3D en el logo del footer, intenté darle un enfoque retro pero no me convence*/
.logo3d {
    position: relative;
    height: 70px;
    width: 70px;
    perspective: 70px;
}

.logo3d a{
    position: absolute;
    height: 70px;
    width: 70px;
    background-image: url(../assets/img/logo-80s\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    transform-style: preserve-3d;
}

.logo3d a:hover {
    transform: rotateX(35deg);
}
/*(FIN)Transformacion 3D en el logo del header*/

/*
.containerHeaderGrid { /*GRID*/
    /*display: grid;    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "logo . redes reservas"
    "logo . . ."
    "logo . barra barra"
    ;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}

.box-1{
    grid-area:logo ;
   
}
.box-2{
    grid-area:redes ;
    justify-self: center;
    align-self: center;
}
.box-3{
    grid-area:reservas ;
}
.box-4{
    grid-area:barra ;
}

.telefonoReservas p{
    color: white;
}

/*
.linkHeader{
    list-style: none;
    display: flex;
    gap: 15px;
}

.navBar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navBar li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.navBar li a:hover {
    color: black;
}
*/
footer {
    background-image: url(../assets/img/fondo_negro_malla.jpg);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.containerFooter{ /*FLEX*/
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}

.linkFooter {
    display: flex;
    gap: 40px;
    list-style: none;
}
.transformFooter:hover img{
    transform: scale(1.2);
}
.transformFooter img{
    transition: 600ms 0.2s;
}

/**estilos del main gral**/
section h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    color: #C02425;
    text-shadow: 2px 2px 5px rgb(10, 10, 10);
}
.menu h1 {
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

h2 , h3 {
    font-family: 'Roboto', sans-serif;
}

/*estilos main index*/
.slide {
    margin-top: 8px;
    margin-bottom: 8px;
}

.slide img{
    height: 70vh;
}

.gradient {
    background-image:url(../assets/img/menu1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: max-content;
    width: 100%;
}

.bannerBienvenida{
    background-color: rgba(167, 165, 165, 0.548);
    background-image: url(../assets/img/anos-80-3.png);
    background-repeat: no-repeat ;
    background-position: top;
    background-size: 300px;
}
.bannerBienvenida h2{
    font-size: 10vh;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    color: #C02425;
    text-shadow: 2px 2px 5px rgb(10, 10, 10);
    -webkit-animation: focus-in-expand 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
.bannerBienvenida p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/**estilos nosotros**/

.containerMainNosotrosGrid{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(6, 1fr );
    grid-template-rows: repeat(5, 1fr );
    grid-template-areas: 
    "foto-3 foto-3 foto-3 foto-3 textoNosotros textoNosotros"
    "foto-3 foto-3 foto-3 foto-3 textoNosotros textoNosotros"
    "foto-3 foto-3 foto-3 foto-3 textoNosotros textoNosotros"
    "foto-4 foto-4 foto-2 foto-2 textoNosotros textoNosotros"
    "foto-4 foto-4 foto-2 foto-2 . ."
    ;
}

.textoNosotros {
    grid-area: textoNosotros;
    align-self: flex-start;
    justify-self: center;
    margin: 15px;
    text-align: justify;
}
.foto-1 {
    grid-area: foto-1;
    display: none;
}

.foto-2 {
    grid-area: foto-2 ;
    align-self: center;
    justify-self:  center;
}
.foto-3 {
    grid-area: foto-3;
    align-self: center;
    justify-self:  center;
}
.foto-4 {
    grid-area: foto-4;
    align-self: center;
    justify-self:  center;
}

.textoNosotros p {
    font-family: 'Lato', sans-serif ;
    text-align: start justify;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}

.foto-1{
	-webkit-animation: scale-up-bottom 3.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bottom 3.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.foto-3{
	-webkit-animation: scale-up-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.foto-4{
	-webkit-animation: scale-up-bottom 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bottom 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.foto-2{
	-webkit-animation: scale-up-bottom 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bottom 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
/**estilos sucursales | franquicias**/

.sucursales {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
h5 {
    color: black;
    text-decoration: underline;
}
h4 {
    color: black;
    text-align: center;
}

.franquiciaCartel{
    color: black;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.traslacion {
    width: 600px;
    border: none;
    background-color: none;
}
.traslacion:hover .cajaSucursales{
    transform: translateX(400px);
}
.cajaSucursales {
    width: 280px;
    transition: transform 2s ease-out;
    transition-delay: 1.5s;
}
.franquicia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.atencion {
    -webkit-animation: vibrate-1 0.8s linear infinite both;
    animation: vibrate-1 0.8s linear infinite both;
}
.atencion a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
/**estilos radiostreaming**/
.radio{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.radiosRetro{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-content: center;
    justify-content: center;

}

.redesAudio{
    display: flex;
    justify-content: center;
    gap: 30px
    ;
}
ul li {
    list-style: none;
}
/**estilos menu**/
.containerFlexMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

}
.movileMenu{
    display: none;
}
/*.mainMenu {
    height: 80%;
}
*/
.textoMenu div {
    border: 2px solid rgb(66, 66, 66, 0.3);
    border-radius: 5px;
    background-color: rgb(66, 66, 66, 0.3);
}

.textoMenu div h2{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.agrandar:hover {
    transform: scale(1.3);
}
.desayuno {
    transition: transform 800ms 0.1s;
}
.almuerzo {
    transition: transform 800ms 0.1s;
}
.cena{
    transition: transform 800ms 0.1s;
}

.textoMenu p {
    font-family: 'Lato', sans-serif ;
    color: black;
}

.banner {
    background-image: url(../assets/img/menu1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.desayuno p {
    font-weight: bold;
    text-align: center;
}
.almuerzo p {
    font-weight: bold;
    text-align: center;
}
.cena p {
    font-weight: bold;
    text-align: center;
}
/**estilos servicios**/
.mainServicios {
    background-color: rgba(240, 248, 255, 0.377);
}
.margenSup {
    margin-top: 40px;
}
.sinMargen h1{
    margin-top: 0px;
}
.textoServicios p{
    font-family: 'Lato', sans-serif ;
    font-weight: bold;
    font-size: 20px;
}
.textoServicios h3 {
    font-weight: 800;
    text-decoration: underline;
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
.margin h3{
        margin-top: 40px;
  }

  body {
    height: 100%;
}
  
/*MEDIA QUARIES TABLET*/
@media (max-width: 768px) {

    /*responsive tablet nosotros*/
    .containerMainNosotrosGrid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "foto-4 foto-4 textoNosotros"
        "foto-2 foto-2 textoNosotros"
        "foto-1 foto-1 textoNosotros"
        "foto-3 foto-3 foto-3"
        ;
    }
    .foto-1{
        display: inline;
        width: 400px;
        height: 300px;
        align-self: center;
        justify-self: center;
    }

    .foto-2 img{
        width: 400px;
        height: 300px;
        align-content: center;
        justify-content: center;
    }
    .foto-3 img{
        width: 700px;
        height: 400px;
        align-content: center;
        justify-content: center;
    }
    .foto-4 img{
        width: 400px;
        height: 300px;
        align-self: center;
        justify-self: center;
    }
    .textoNosotros {
        font-size: 15px;
        margin-top: 40px;
    }
}


/*MEDIA QUARIES MOVILE */

@media (max-width: 576px) {
    
    .containerFooter{
        justify-content: center;
        gap: 40px;
    }

    .logoFooter img {
    height: 50px;
    width: 50px;
    }

    .redesFooter img {
    height: 30px;
    width: 30px;
    }

    /*responsive movile index*/
    .slide img{
        height: 55vh;
    }
    .bannerBienvenida h2{
        font-size: 7vh;
    }
    .bannerBienvenida p{
        font-size: 25px;
    }
    /*responsive movile menu*/
    .containerFlexMenu{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: max-content;
    }
   .textoMenu div {
    width: 290px;
    margin-top: 8px;
    margin-bottom: 8px;
   }
    /*responsive movile nosotros*/
    .containerMainNosotrosGrid {
        display: grid;
        width: 100%;
        grid-template-columns: 1 fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "textoNosotros"
        "textoNosotros"
        "foto-3"
        "foto-3"
        "foto-3"
        ;
    }

    .textoNosotros {
        grid-area: textoNosotros;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .textoNosotros p{
        font-size: 11px;
        text-align: justify;
    }
    .foto-1 {
        display: none;
    }

    .foto-2 {
        display: none;
    }
    .foto-3{
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
    }   
    .foto-4 {
        display: none;
    }

    .foto-3 img {
        width: 75% ;
    }
    /*responsive movile franquicias&sucursales*/
    .sucursales {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .franquicia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside {
        margin-top: 30px;
    }
    aside a {
        font-size: 12px;
    }
    .centrar {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .traslacion{
        width: 100%;
    }
    .traslacion:hover .cajaSucursales{
        transform:none;
    }
    /*responsive movile radiostreaming*/

    .radioEnlace img {
        height: 60px;
        width: 60px;
    }

    .logo3d img{
        display: none;
    }

}